<!-- extend base layout -->
{% extends index %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form role="form" method="post" name="login">
                {{ form.csrf_token }}
				<div class="form-group">
                    <h1>Add user:</h1>
					<label for="name">
						New login:
					</label>
                    {{form.name(class="form-control", autocomplete="off")}}
				</div>
				<div class="form-group">
					<label for="password">
						New password:
					</label>
					{{form.password(class="form-control")}}
				</div>
                <div class="form-group">
					<label for="password_again">
						New password again:
					</label>
					{{form.password_again(class="form-control")}}
				</div>
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block error %}
{% if error is defined %}
<div class="alert alert-warning" role="alert">
{{error}}
</div>
{% endif %}
{% endblock %}