<!-- extend base layout -->
{% extends index %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form role="form" method="post" name="login" enctype="multipart/form-data">
				{{ form.csrf_token }}
				{{form.scan_file }}
				<div class="form-group">
                    <h1>Add user:</h1>
					<label for="type">
						Type of task:
					</label>
                    {{form.type(class="form-control", autocomplete="off")}}
				</div>
				<div class="form-group">
					<label for="title">
						Title of task:
					</label>
					{{form.title(class="form-control", autocomplete="off")}}
				</div>
                <div class="form-group">
					<label for="description">
						Description of task:
					</label>
					{{form.description(class="form-control", autocomplete="off")}}
				</div>
                <div class="form-group">
					<label for="file">
						Description of task:
					</label>
					{{form.file(class="form-control", autocomplete="off")}}
				</div>
                <div class="form-group">
					<label for="point">
						Point of task:
					</label>
					{{form.point(class="form-control", autocomplete="off")}}
				</div>
				<div class="form-group">
					<label for="flag">
						Flag of task:
					</label>
					{{form.flag(class="form-control", autocomplete="off")}}
				</div>
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}