<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CTF task">

    <title>CTF site</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index" style="color: white;">CTF site</a>
            <a class="btn btn-info" href="/scoreboard">Scoreboard</a>
        </div>
            {% block name %}{% endblock %}
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Start the solve CTF now!</h1>
        <p>This is a simple site for solve my CTF task.</p>
		      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      {% block content %}{% endblock %}
      </div>

        <div class="row">
            {% block error %}{% endblock %}
        </div>
      <hr>

      <footer>
        <p>&copy; MCyxov</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>