<!-- extend base layout -->
{% extends "base.html" %}

{% block name %}
<div class="navbar-form navbar-right">
<b style="color: white;margin: 40px;">Hallow {{username|e}}, Your score: {{score|e}}</b>
<a class="btn btn-success" href="/logout">Log out</a>
</div>
{% endblock %}

{% block error %}
{{error}}
{% endblock %}

{% block content %}
All tasks:
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-dark" >
				<thead>
					<tr>
                        <th> <a href="index?sort=type"> Type </a> </th>
                        <th> <a href="index?sort=title"> Title </a> </th>
                        <th> <a href="index?sort=description"> Description </a> </th>
                        <th> <a href="index?sort=point"> Point </a> </th>
					</tr>
                </thead>
                <tbody>
                {% for task in tasks%}
                    <tr {% if task[1] is sameas true%} class="bg-success" {% endif %}>
                        <th> {{task[0][1]|e}} </th>
                        <th>{% if task[1] is sameas false%} <a href="/task/{{task[0][0]}}"> {% endif %} {{task[0][2]|e}} {% if task[1] is sameas false%} </a> {% endif %} </th>
                        <th> {{task[0][3]|e}} </th>
                        <th> {{task[0][4]|e}} </th>
                    </tr>
                {% endfor %}
                </tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}