<!-- extend base layout -->
{% extends "index.html" %}

{% block name %}
<div class="navbar-form navbar-right">
<a class="btn btn-info" href="/add/user">Add user</a>
<a class="btn btn-info" href="/add/task">Add task</a>
<b style="color: white;margin: 40px;">Hallow {{username|e}}, Your score:  {{score|e}}</b>
<a class="btn btn-success" href="/logout">Log out</a>
</div>
{% endblock %}
