<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form role="form" method="post" name="login">
				{{ form.csrf_token }}
				<div class="form-group">

					<label for="name">
						Your login:
					</label>
                    {{form.name(class="form-control")}}
				</div>
				<div class="form-group">
					<label for="password">
						Password
					</label>
					{{form.password(class="form-control")}}
				</div>
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}