<!-- extend base layout -->
{% extends index %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-dark" >
				<thead>
					<tr>
						<th> Place </th>
						<th> Username </th>
						<th> Point </th>
					</tr>
                </thead>
                <tbody>
                {% for user in users%}
                    <tr {% if user[1] is sameas true%} class="bg-success" {% endif %}>
                        <th> {{user[2]|e}} </th>
						<th> <a href="/profile/{{user[0][2]}}"> {{user[0][1]|e}} </a> </th>
                        <th> {{user[0][0]|e}} </th>
                    </tr>
                {% endfor %}
                </tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}