<!-- extend base layout -->
{% extends index %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					{{title}}
				</h2>
				<p>
					{{description}}
				</p>
                {% if dop is defined%}
				<p>
					<a class="btn btn-primary btn-large" href="{{dop}}" target="_blank">Start task for you!</a>
				</p>
                {% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container">
    <label>
    Put flag:
</label>
	<div class="row">
        <form role="form" method="post" name="login">
			{{ form.csrf_token }}
		<div class="col-md-10">
            {{form.flag(class="form-control")}}
		</div>
        <div class="col-md-2">
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
		</div>
        </form>
        {%if message is defined and message is sameas false%}
        <div class="alert alert-warning" role="alert">
            Wrong, wrong, wrong, try again!!!
        </div>
        {% elif message is sameas true%}
        <div class="alert alert-success" role="alert">
            You is the best task solver!!!
        </div>
        {%endif%}
	</div>
</div>
{% endblock %}