<!-- extend base layout -->
{% extends index %}


{% block content %}
{{name|e}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-dark" >
				<thead>
					<tr>
						<th> Type </th>
						<th> Title </th>
                        <th> Description </th>
						<th> Point </th>
					</tr>
                </thead>
                <tbody>
                {% for task in solved%}
                    <tr {% if task[1] is sameas true%} class="bg-success" {% endif %}>
                        <th> {{task[0][1]|e}} </th>
                        <th>{% if task[1] is sameas false%} <a href="/task/{{task[0][0]}}"> {% endif %} {{task[0][2]|e}} {% if task[1] is sameas false%} </a> {% endif %} </th>
                        <th> {{task[0][3]|e}} </th>
                        <th> {{task[0][4]|e}} </th>
                    </tr>
                {% endfor %}
                </tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}